body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.container1 {
    width: 100%;
    margin: 0.5rem 1.5rem;
    padding: 0.5rem 1.5rem;
    flex: 1;
}

#icon {
    width: 4rem;
    height: 4rem;
}

.navbar {
    height: 5rem;
    background-color: whitesmoke;
}

.nav-link {
    color: black;
}

.f-info-links a {
    text-decoration: none;
    color: black;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links {
    text-align: center;
}

.f-info-socials {
    text-align: center;
    font-size: 1.25rem;
}

.f-info-socials i {
    margin: 0 0.5rem;
    padding: 0 0.25rem;
}

.f-info {
    display: flex;
    background-color: gainsboro;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 8rem;
}

.listing-card {
    border: none;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0;
}

.card-text p {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: whitesmoke;
}

.show-img {
    height: 50vh;
    width: 60vh;
}

.edit-btn {
    background-color: rgb(241, 92, 92);
    color: white;
}


#map {
    height: 600px;
    width: 100%;
}

.custom-pin {
    font-size: 30px;
    color: red;
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.scroll-container {
    width: 70%;
    margin: 1rem;
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 16px;
    border-bottom: 1px solid #eee;
    scrollbar-width: none;
    /* Firefox */
}

.scroll-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.nav-item {
    flex: 0 0 auto;
    /* Prevent shrinking */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #555;
    min-width: 70px;
    cursor: pointer;
    opacity: 0.7;
}

.nav-item i {
    font-size: 20px;
    margin-bottom: 5px;
}

.nav-item:hover {
    opacity: 1;
}

.tax-info {
    display: none;
}

.tax-toggle {
    font-size: 0.95rem;
    padding: 0.75rem;
    border-radius: 0.75rem;
    background-color: rgba(219, 217, 217, 0.268);
    opacity: 0.75;
}

.tax-toggle:hover {
    opacity: 1;
}

.btn-search {
    background-color: rgb(233, 111, 66);
    color: white;
    border-radius: 45%
}

.btn-search:hover {
    background-color: rgb(233, 111, 66);
    color: white;
}

.search-input {
    border-radius: 1rem;
    font-size: 0.9rem;
}
.navbar-collapse{
    background-color: whitesmoke;
    padding:0.75rem
}